<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<global-method-security pre-post-annotations="enabled" />

	<http pattern="/static/**" security="none" />

	<http>
		<intercept-url pattern="/_admin/pub/**" access="permitAll" />
		<intercept-url pattern="/_admin/**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/**" access="permitAll" />

		<form-login login-page="/_admin/pub/login" login-processing-url="/_admin/pub/auth" authentication-failure-url="/_admin/pub/login?faliled"
			default-target-url="/_admin/" />
		<remember-me />
		<headers>
			<cache-control disabled="true" />
			<content-type-options />
			<hsts disabled="true" />
			<frame-options />
			<xss-protection />
		</headers>
		<csrf disabled="true" />
	</http>

	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg value="8" /> <!-- strength=8, 256iteration -->
	</beans:bean>

	<beans:bean id="myUserDetailService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="usersByUsernameQuery" value="select username, password, true from users where username = ?" />
		<beans:property name="authoritiesByUsernameQuery" value="select username, role from users where username = ?" />
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailService">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>
